.language input
{
  display: none;
}

.language img
{
  height: 30px;
  width: 50px;
}

.language input:checked ~ img
{
  height: 35px;
  width: 55px;
}

.languageContainer
{
  display: inline-block;
  float: right;
}
