*
{
  margin: 0;
  padding: 0;
}
hr
{
  clear: both;
  width: 80%;
  margin: 10%;
}
h1
{
  font-size: 35px !important;
  line-height: 35px;
}
#you, #him
{
  background-color: lightgray;
  height: 35px;
  line-height: 35px;
}
#him
{
  margin: 0;
}
.option-button
{
  width: 100% !important;
  line-height: 35px;
  height: 35px;
  margin-top: 5px;
  background-color: lightgray;
  text-align: center;
}
.option-button p
{
  transition: .3s ease-out;
  width: 100%;
}
.option-button:hover p
{
  font-size: 27px !important;
  line-height: 40px;
}
.content
{
  display: inline-block;
  width: 900px;
  border: 1px solid gray;
  margin-left: calc(50% - 450px);
  position: relative;
  overflow: hidden;
}
.section
{
  clear: both;
  margin: 15px;
}
.foot
{
  font-size: 0.75em;
}
.game-menu
{
  opacity: 0;
  z-index: -1;
  width: 330px;
  margin: 120px 0;
}
.game-main
{
  z-index: 1;
}
.game-main, .game-menu
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s ease-out;
}
.game-tile
{
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: lightgray;
}
.game-tile div
{
  float: left;
  margin-left: 50%;
  margin-top: 50%;
  width: 0;
  height: 0;
  mask-size: cover !important;
  -webkit-mask-size: cover !important;
  background-color: gray;
  transition: .2s ease-out;
}
.game-tile:nth-child(3n+1)
{
  clear: left;
}
.game-menu-small
{
  width: calc(100% - 5px;);
  height: 25px;
  clear: both;
  margin: 5px;
}
.game-menu-small div
{
  text-align: center;
  width: calc(50% - 2.5px);
  float: left;
  margin-right: 5px;
}
.game-text
{
  color: gray;
  font-weight: bold;
  font-family: 'Aldrich', sans-serif;
  font-size: 20px;
}
@media only screen and (max-width: 900px)
{
  .content
  {
    width: 100%;
    border: 0;
  }
}
@media only screen and (max-width: 672px)
{
  .game-tile
  {
    width: 13vw;
    height: 13vw;
  }
}
